name: Build

on:
  push:
    branches: ["**"]
    tags-ignore: ["v*"]
  pull_request:
    branches: ["**"]

jobs:
  build:
    runs-on: macos-15

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Select Xcode
        run: sudo xcode-select -s /Applications/Xcode_16.2.app

      - name: Build
        run: |
          xcodebuild \
            -project MediaKontrol.xcodeproj \
            -scheme MediaKontrol \
            -configuration Release \
            -destination "platform=macOS" \
            CODE_SIGN_IDENTITY="" \
            CODE_SIGNING_REQUIRED=NO \
            CODE_SIGNING_ALLOWED=NO \
            build

      - name: Test
        run: |
          xcodebuild \
            -project MediaKontrol.xcodeproj \
            -scheme MediaKontrol \
            -destination "platform=macOS" \
            CODE_SIGN_IDENTITY="" \
            CODE_SIGNING_REQUIRED=NO \
            CODE_SIGNING_ALLOWED=NO \
            test
